.table-jenis-pembayaran th:nth-child(2),
.table-jenis-pembayaran td:nth-child(2) {
    width: 300px;
    text-align: left;
}

.table-jenis-pembayaran th:nth-child(3),
.table-jenis-pembayaran td:nth-child(3) {
    width: 200px;
    text-align: center;
}

.table-jenis-pembayaran th:nth-child(4),
.table-jenis-pembayaran td:nth-child(4) {
    width: 150px;
    text-align: center;
}

.table-jenis-pembayaran th:nth-child(5),
.table-jenis-pembayaran td:nth-child(5) {
    width: 100px;
    text-align: center;
}

.table-jenis-pembayaran th:nth-child(6),
.table-jenis-pembayaran td:nth-child(6) {
    width: 100px;
    text-align: center;
    align-items: center;
}