<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pembayaran Siswa Online</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/public/pembayaran-publik.css') }}">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

<div class="container">

    <div class="mobile-logo">
        <img src="{{ url_for('static', filename='img/logo-header.png') }}" alt="Logo Sekolah">
    </div>

    <!-- HEADER -->
    <header class="topbar">
        <div class="topbar-left">
            <img
                src="{{ url_for('static', filename='img/logo-header.png') }}" alt="Logo">

            <nav class="topbar-nav">

                <a href="https://smpuhamzanwadi.sch.id/"
                    target="_blank"
                    rel="noopener noreferrer">
                    Beranda
                </a>

                <a href="#kontak" class="nav-kontak">
                    Kontak
                </a>

            </nav>
        </div>

        <div class="topbar-actions desktop-action">
            <a href="#" class="btn-nav-outline">Cek Tagihan</a>
            <a href="#"class="btn-nav-primary">Login</a>
        </div>

        <button class="menu-toggle" id="menuToggle">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="topbar-menu" id="topbarMenu">
            <nav class="topbar-nav">
                <button class="menu-close" id="menuClose">
                    <i class="fa-solid fa-xmark"></i>
                </button>

                <a href="https://smpuhamzanwadi.sch.id/" target="_blank" rel="noopener noreferrer"><i data-lucide="layout-grid"></i>Beranda</a>
                <a href="#kontak" class="nav-kontak"><i data-lucide="phone"></i>Kontak</a>
            </nav>

            <div class="topbar-actions">
                <a href="#" class="btn-nav-outline">Cek Tagihan</a>
                <a href="#" class="btn-nav-primary">Login</a>
            </div>
        </div>

        <div class="menu-overlay" id="menuOverlay"></div>

    </header>

    <!-- HERO -->
    <div class="hero">

        <div class="hero-bg"></div>

        <div class="hero-content">

            <div class="hero-left">

                <div class="hero-brand">

                    <span class="hero-chip">
                        Portal Pembayaran Online
                    </span>

                </div>

                <h1>
                    Pembayaran Siswa
                </h1>

                <h2>
                    SMP Unggulan Hamzanwadi
                </h2>

                <p>
                    Cek tagihan siswa dan lakukan pembayaran sekolah
                    secara online dengan cepat, aman, dan praktis.
                    Seluruh proses pembayaran dapat dilakukan kapan saja tanpa perlu datang langsung ke sekolah.
                </p>

                <a href="#cari-siswa"
                    id="btn-hero-search"
                    class="btn-hero-search">

                    <i data-lucide="search"></i>

                    <span>
                        Cari Data Siswa
                    </span>

                </a>

            </div>

            <div class="hero-right">
                <div class="hero-img">
                    <img src="{{ url_for('static', filename='img/student.png') }}" alt="Ilustrasi Siswa">
                </div>
            </div>

        </div>

    </div>

    <!-- CARI SISWA -->

    <div class="card search-card" id="cari-siswa">

        <h2>Cari Data Siswa</h2>

        <p class="subtitle">
            Masukkan NISN atau nama siswa lalu klik cek tagihan untuk melihat pembayaran.
        </p>

        <div class="autocomplete-wrapper">

            <input
                type="text"
                id="search-siswa"
                autocomplete="off"
                placeholder="Cari NISN atau Nama Siswa">

            <div id="hasil-siswa"></div>

        </div>

        <input type="hidden" id="selected-siswa-id">

        <!-- DATA SISWA -->
        <div class="card student-card" id="student-card" style="display:none;">

            <div class="student-header">
                <div>
                    <h2 id="siswa-nama"></h2>
                    <p id="siswa-nisn"></p>
                </div>
                <div class="student-badge" id="siswa-badge"></div>
            </div>

            <div class="student-info">
                <div class="info-box">
                    <i data-lucide="airplay"></i>
                    <span>Kelas</span>
                    <strong id="siswa-kelas">-</strong>
                </div>

                <div class="info-box">
                    <i data-lucide="shapes"></i>
                    <span>Rombel</span>
                    <strong id="siswa-rombel">-</strong>
                </div>

                <div class="info-box">
                    <i data-lucide="user"></i>
                    <span>Orang Tua/Wali</span>
                    <strong id="siswa-orangtua">-</strong>
                </div>
            </div>

        </div>

        <button
            id="btn-cari"
            class="btn-primary"
            style="display:none;">

            <i data-lucide="search"></i>

            <span>
                Cek Tagihan
            </span>
        </button>

    </div>

</div>

<footer class="site-footer">

    <div class="footer-container">

        <!-- BRAND -->
        <div class="footer-col footer-brand">
            <img
                src="{{ url_for('static', filename='img/logo-header.png') }}"
                alt="Logo Sekolah">

            <p>
                Portal Pembayaran Online resmi
                SMP Unggulan Hamzanwadi untuk memudahkan
                orang tua dan siswa dalam melakukan pembayaran
                sekolah secara cepat dan aman.
            </p>
        </div>

        <!-- ALAMAT -->
        <div class="footer-col">
            <h4>Alamat Sekolah</h4>
            <ul>
                <li class="alamat">
                    <i data-lucide="map-pin"></i>
                    Jln. Dokter Cipto Mangun Kusumo, Sawing
                    Kel. Majidi Kec. Selong Kab. Lombok Timur,
                    NTB.
                </li>
            </ul>
        </div>

        <!-- KONTAK -->
        <div class="footer-col" id="kontak">
            <h4>Kontak</h4>
            <ul>
                <li>
                    <i data-lucide="mail"></i>
                    smpu@hamzanwadi.ac.id
                </li>
                <li>
                    <i data-lucide="phone"></i>
                    +62 819-2983-0033
                </li>
            </ul>
        </div>

        <!-- SOSIAL MEDIA -->
        <div class="footer-col">
            <h4>Sosial Media</h4>
            <div class="footer-social">
                <a href="https://www.instagram.com/smpunggulan_hamzanwadi"
                    target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=61573927836810"
                    target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://youtube.com/@smpunggulanhamzanwadi?si=26sZ2CHj80TDufpB"
                    target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 SMP Unggulan Hamzanwadi. All rights reserved.
    </div>

</footer>

<script src="{{ url_for('static', filename='js/public/pembayaran-publik.js') }}"></script>
<script src="https://unpkg.com/lucide@latest"></script>

<script>lucide.createIcons();</script>
</body>
</html>