@media (max-width: 900px) {
    .market-search,
    .profile-wrapper {
        display: none;
    }

    .market-header {
        background: #ffff;
    }

    .icon-button {
        color: #ffb300;
    }

    .left-header {
        display: flex !important;
        align-items: center;
        gap: 12px;
        margin-left: 10px;
        width: auto;
        flex: 1;
    }

    .left-header span {
        white-space: nowrap;
        font-size: 16px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .left-header svg {
        width: 25px;
        height: 25px;
        display: block;
        color: rgb(0, 0, 0);
    }

    .market-back {
        text-decoration: none;
    }

    .payment-tabs {
        font-display: none;
    }

    .payment-container {
        margin: 10px 0;
    }
    
}

.left-header {
    display: none;
}
