@media (max-width: 900px) {
    .market-search,
    .profile-wrapper {
        display: none;
    }

    .market-header {
        background: #ffff;
    }

    .icon-button {
        color: #ffb300;
    }

    .left-header {
        display: flex !important;
        align-items: center;
        gap: 12px;
        margin-left: 10px;
        width: auto;
        flex: 1;
    }

    .market-back {
        text-decoration: none;
    }
    
}

.left-header {
    display: none;
}
